[2017-02-27 23:25] Maxr1998 opened #1 "Create a good login screen"
Preferably using some sort of intro screen ViewPager.
[material-intro](https://github.com/HeinrichReimer/material-intro)?

[2017-02-27 23:26] Maxr1998 opened #2 "Add overflow menu with option to launch HomeAssistant Web UI in a Chrome Custom Tab"

[2017-02-27 23:31] Maxr1998 opened #3 "Add support for Material Design Icons"
I am not sure where I can access an online version of [materialdesignicons.com](materialdesignicons.com).
There is a (private?) API at `https://materialdesignicons.com/api/download/icon/svg/`, but it requires some sort of special id at the end (not the expected e.g. `mdi:home`).

[2017-02-27 23:34] Maxr1998 opened #4 "Support proper updating after posting events"
At the moment, it just fires off events and doesn't reload states until restarting the app.

[2017-02-27 23:41] Maxr1998 opened #5 "Keep Group order according to web ui"
The groups are currently sorted randomly (in the order the API provides).

[2017-02-28 02:59] swbradshaw commented on #4
Great start with app! HassActivity needs to be refactored. All of the logic you currently have to connect and get events (LoginUtils, HassSocketListener,etc) needs to be moved out of the Activity and into a Service.  Putting it in a Service will allow things like Device Tracking and other future items to happen in the background, but also allow your Activity to connect to it for foreground updates

[2017-02-28 08:39] Maxr1998 commented on #4
That was exactly my idea, we would also need a service to allow using shortcuts.
The service can then be bound by HassActivity or a ShortcutActivity.

[2017-02-28 16:09] wasdennnoch commented on #3
I really don't know much about what this app is doing, but if you need a bunch of icons to choose from maybe the material icon font? Only downside is that you have to create a list with all names. And I don't know if it even works in apps.

[2017-02-28 23:28] Maxr1998 commented on #4
So, I restructured everything in ee9102adc24e46504cdff0bf1765856851004e3f, this should make things much easier.

[2017-02-28 23:31] Maxr1998 commented on #3
That would surely be a possibility, but I don't think that how the Web UI does it.. There must be a better way 😄

[2017-03-01 11:47] #2 closed

[2017-03-01 21:31] #1 closed

[2017-03-02 02:54] swbradshaw commented on #3
I assume we are getting API 21+, so we can focus only on vector icons. If so, there are 2 ways to get these....

1) Call API to get icon list as JSON: https://materialdesignicons.com/api/package/38EF63D0-4744-11E4-B3CF-842B2B6CFE1B

For each result in the array, you end up with the following data:
[code]

Iterate for each of those results, downloading each Andoid vector XML file (pass ID in URL) s

[2017-03-02 07:09] Maxr1998 commented on #3
Oh, really nice 👌👌
Where did you find the API endpoint?
I am going to take a look at it, not sure I want to add all icons to project, maybe I just can download and reference them on demand.

[2017-03-02 07:47] Maxr1998 opened #7 "Android battery tracking"
Send battery level to the Hass server every ~5-10 minutes, using AlarmManager or JobScheduler API.

Update: better do that via Intents.

[2017-03-02 17:25] swbradshaw commented on #3
True. If you can download the vector XML on-demand for icons in use and then save them to application cache, that would be ideal.

[2017-03-02 17:38] swbradshaw commented on #7
These are two seperate items, and thus should be seperate issues.

For battery, the app should create a receiver for Intent.ACTION_BATTERY_CHANGED. This is what it is for. Polling every 5-10 min is a bad idea. Further, it probably only makes sense to send battery updates when drops are in larger increments (send every 5% drop vs every 1% drop). This could be a user setting in the app.  Also, we sh

[2017-03-03 10:05] Maxr1998 commented on #3
I'll take a look at that ;)

[2017-03-03 10:07] Maxr1998 commented on #7
Very good ideas, this issue was just a draft anyway. I'll look at your suggestions and will try to implement a first version.

[2017-03-03 10:08] Maxr1998 opened #8 "Android location tracking"
Location tracking through LocationManager and receivers in an efficient way.

[2017-03-03 11:54] Maxr1998 commented on #3
Ok, I found out that Android can only load drawables from a compiled resource file. That either means we cannot load the vectors dynamically OR we would have to compile them with aapt on the device on-the-fly and load them via an XMLResourceParser from storage, which would be a huge overkill, but exceptionally cool 😎

[2017-03-16 19:15] Maxr1998 commented on #3
Well, my idea doesn't work. But we can still download png images from the server, and that's what I will do.

[2017-03-16 19:29] swbradshaw commented on #3
What idea did you try?
You mean download the PNG icons from the materialdesignicons.com on demand?

[2017-03-16 19:35] Maxr1998 commented on #3
I tried to download vector images, compile them with aapt on the device and display them. Didn't work, as Android's parser system isn't built for this. And now I'll just download and display PNG files, which will definitely work.

[2017-03-16 21:28] #3 closed

[2017-03-20 22:00] #5 closed

[2017-03-21 01:20] swbradshaw opened #9 "App won't sign in again - User gets white screen"
This bug happened after your changes on March 1.

When I launch app now all I see is a white screen.

Logs say:

[code]

If I wipe data, and run app again, the app prompts for URL / password. I can login and the app works fine.  After killing the activity, it happens again. I have to tap the refresh icon in the header twice, and it will show the URL/IP and Password prompt again.

[2017-03-21 20:14] Maxr1998 commented on #9
Gonna look at it. Weird that it tries to authenticate another time.

[2017-03-22 14:46] swbradshaw commented on #9
I couldn't figure it out. It's almost like the WebSocket code is sending the auth request twice. Regardless, I can no longer use the app. :-(

[2017-04-02 19:54] Maxr1998 commented on #9
Could you try the latest version and tell me if it works now?

[2017-04-02 20:12] micw opened #10 "General feedback"
Thank you for the app, that's great. I'd like to give some general feedback:
- 1st, it works with no serious issues ^^
- apk name should be less generic. There's no "save as..." when you download with android, so the file should be "home-assistant-client-0_2.apk" or similar.
- In intial setting dialog it's a bit unclear what port/protocol is used when one enters the ip address. I suggest to accept

[2017-04-02 21:05] Maxr1998 commented on #10
Thanks for your feedback!

Sure, I'll do that for the next version. It just what Android Studio names it by default atm.
Also, I want to publish it to Google Play, but first I have to proof some long-time commitment that balloob marks this as official app and I can ask Google Play to unlock my listing.

IP address can be added in `protocol://ip.xyz:port/` pattern. I'll make it more clear to users.

[2017-04-02 21:18] Maxr1998 opened #11 "Add Tablet layout"
Multi-row UI through StaggeredGridLayoutAdapter.

[2017-04-02 21:18] Maxr1998 opened #12 "Support sun.sun entity"

[2017-04-02 21:20] Maxr1998 opened #13 "Support http basic authentication"
- [x] Better hint IP/port syntax
- [x] Don't ask for password if none is set
- [x] Allow basic http-authentication
- [x] Allow logout

[2017-04-02 21:20] vpnmaster opened #14 "Accept self signed ssl / handle ssl errors"

[2017-04-02 21:22] Maxr1998 commented on #14
That should not be an issue, normally. Did you input `https://<ip>:<port>` into the adress bar?
Could you send me your logcat output if Android really doesn't accept your certificate?

[2017-04-02 21:23] Maxr1998 opened #15 "Some icons aren't displayed"
It seems when API endpoint is unreachable? the icon files in storage are broken. We have to detect that and delete them again then.

[2017-04-02 21:27] vpnmaster commented on #14
I'm using let's encrypt ssl to access home assistant outside my network. In my local lan the ssl is invalid if I hit hass with the internal ip. I can skip the warning in browsers.

[2017-04-02 21:49] micw commented on #10
Basic auth: When I expose something to the public internet, I put nginx in front that does http basic authentication (username+password) and https via letsencrypt. It would be great if you support this by adding settings for it and create the required auth header.

Brightness slider: It would be ideal to have them below or right of the label if it's a dimmer.

[2017-04-03 07:34] fabaff opened #16 "Support Android < 5.0 (API-21)"
The installation of the [`apk`](https://github.com/Maxr1998/home-assistant-Android/releases/download/v0.2/app-release.apk) fails on 4.4.2 with a parsing error.

[2017-04-03 11:35] Maxr1998 commented on #14
Ok, I know what's the issue, and can reproduce. Fixing it soon.

[2017-04-03 11:36] Maxr1998 commented on #16
Yes, the apk is built with a minSdkVersion of 21, aka Android 5.0. I'm currently not sure I want to have the hassle of supporting older versions as well, sorry.

[2017-04-03 14:11] fabaff commented on #16
Thanks. I wasn't sure where the issue could be because this tablet was the only available device to run a test.

[2017-04-03 14:14] Maxr1998 commented on #16
Oh ok, I see. I suppose your Tablet is too old to get any upgrade? I will look how much work it would be to support at least 4.4+, KitKat is only one API version actually, and shouldn't be too much of a difference with support libs. Reopening for now until I make a final decision.

[2017-04-03 14:40] #15 closed

[2017-04-03 15:11] #12 closed

[2017-04-03 20:14] #14 closed

[2017-04-03 20:52] Maxr1998 opened #17 "Use data binding"
This app should use data binding to make the UI code much cleaner,  if possible.

[2017-04-04 00:25] swbradshaw commented on #9
Latest version is the same. White screen after sign in. I debugged this locally and couldn't figure it out. It seems like the app is resending the wrong requests. Perhaps it's something with how I'm building it. I'll try an APK when/it's available. Until then, webview is working for me.

[2017-04-06 12:23] Maxr1998 commented on #9
OK. Could you tell me what device and Android version you use? Additionally, does your Home Assistant config have any specialities?

[2017-04-06 16:48] #11 closed

[2017-04-09 18:47] Maxr1998 commented on #4
All ViewHolders use the `OnRequestResultListener` to properly update their states now, so this can be marked as fixed.

[2017-04-09 18:47] #4 closed

[2017-04-12 07:53] Maxr1998 opened #18 "Add quicksettings tile"
The quicksettings tile might open a dialog which shows a preconfigured set of actions, probably only supporting switch view types and sensors.

[2017-04-12 07:55] Maxr1998 commented on #9
Fixed in current source, according to @swbradshaw

[2017-04-12 07:56] #9 closed

[2017-04-19 17:10] armills opened #19 "Conversion Error"
Stack trace attached. It also included some of the hass state data, but looks like it was truncated. This should hopefully help track it down, though. Using version 0.2 from F-Droid.

[code]

[2017-04-19 17:29] Maxr1998 commented on #19
Which apk did you use? The one from GitHub or a newer one from gitter? It seems that the JSON data has a `double` for either `attributes.order` or `attributes.supported_features` for one of the entities. Could you find out which one from the dev states?

[2017-04-19 17:57] armills commented on #19
I edited my post to include it, I'm using version 0.2 built on F-Droid: https://f-droid.org/wiki/page/io.homeassistant.android

If this has since been fixed feel free to ignore, just wanted to provide the info if it's helpful. I didn't see any entity that has a float in those fields.

[2017-04-19 18:00] armills commented on #19
Pasted current states (GPS redacted) if you want to try it yourself.

https://pastebin.com/YB6vXkWi

[2017-04-19 18:23] Maxr1998 commented on #19
I believe I found the issue, the brightness value is also an int in my code.. and both in your states are doubles. Will fix this bug in a minute and send you a test apk.

[2017-04-19 18:45] armills commented on #19
Interesting. I believe brightness is supposed to be an int, but it looks like the zwave lights are returning a float. It would be good for the app to accept floats, but we should probably also fix it on the zwave side.

[2017-04-19 18:51] #19 closed

[2017-04-19 21:18] #7 closed

[2017-04-19 21:18] #8 closed

[2017-04-22 22:53] Maxr1998 commented on #17
This probably won't work anymore with the current nested implementation, so it will be marked as wont-fix, though kept open if I one day consider rewriting some code to support data-binding somehow.

[2017-04-24 07:55] Charliedean opened #25 "Support HTTP basic auth"
I'm sure I'm not the only user that makes use of nginx/Apache reverse proxies secured by http basic auth. Any chance of this getting implemented?.

[2017-04-24 07:56] #25 closed

[2017-04-24 07:57] Charliedean commented on #25
Sorry, didn't see this was previously suggested.

[2017-04-24 08:25] Maxr1998 commented on #25
No worries :smile:
(Duplicate of #13)

[2017-04-26 10:37] Maxr1998 commented on #13
Since I have no basic auth protected instance myself to test, I'd need someone to provide one to me.

[2017-04-26 12:48] Kernald commented on #16
Just a note: as you don't use the SAF, if you support API 19, you probably could support API 17 and 18 too without any more work.

[2017-04-26 13:09] Kernald opened #26 "Gradle wrapper is missing"
The Gradle wrapper is missing from the repository (`gradlew`/`gradlew.bat`). It makes the build without Android Studio much more complicated.

[2017-04-26 13:12] pizzapants commented on #18
@Maxr1998
This would be a nice feature. Until its added, you can follow my [instructions](https://github.com/pizzapants/HomeAssistant/blob/master/android.md) here to add your own (not trying to spam my setup but thought it might be helpful).

[2017-04-26 13:16] pizzapants opened #27 "App is showing a white screen with no way to get front end back"
Not sure what caused this, possibly opening the app while HASS was restarting (just a guess) but now when I open it, it just shows a blank white screen (with the blue home assistant header). Pressing refresh or forcequitting the app doesn't fix it. Short of uninstalling/reinstalling, it seems to be no way to get the front end back.

[2017-04-26 13:38] Maxr1998 commented on #27
I experienced the same while restarting Home Assistant (it of course can't really connect but also doesn't throw any Exception), but a simple restart of the app fixed it. Since you said "refresh button" I suppose you're still running the 0.1 or 0.2 version, could you try with the latest version (1.0-RC1) or build the current master yourself?

[2017-04-26 17:13] pizzapants commented on #27
Oh, sure. I assumed f droid had the latest, sorry! Not sure how to build it myself, where can I download the latest?

[2017-04-26 17:14] Maxr1998 commented on #27
@pizzapants Max:
Here on GitHub! :) I wonder why F-Droid isn't updated though, shouldn't it build automatically on new release tags?

[2017-04-26 19:27] pizzapants commented on #27
@Maxr1998 Is there an APK on here that I can download? Not seeing it, sorry!

Strange, latest version on FD is .2

[2017-04-26 19:32] Maxr1998 commented on #27
Look at the [releases page](https://github.com/Maxr1998/home-assistant-Android/releases/tag/v1.0-rc1).

[2017-04-26 19:33] pizzapants commented on #27
@Maxr1998  cheers, thanks. Derp.

[2017-04-26 19:40] pizzapants commented on #27
@Maxr1998  just a heads up, trying to upgrade to the new version gives the following error: app not installed, package conflicts with an existing package by the same name.

Strangely, upon removing the old version and installing the new one, Im still greeted with the blank white screen.

[2017-04-26 20:00] Maxr1998 commented on #27
First thing is normal, F-Droid signs the builds with its own certificate, the GitHub releases are signed with mine, thus Android doesn't allow upgrading.

For the other stuff, could you send me a log (adb logcat)?
I really don't know what could be causing this. Any specialties in your home assistant configuration?

[2017-04-26 20:19] pizzapants commented on #27
@Maxr1998
Makes sense.

Yeah, ill try to do that tonight. Dont think so, my whole config is up on my github page though if you want to look.

[2017-04-26 21:04] #26 closed

[2017-04-26 21:15] Kernald commented on #26
Wow that was fast, thanks!

[2017-04-26 21:19] Maxr1998 commented on #26
It was easy enough to still do it this evening :blushed:

There still will be a build error though, you need to remove the signing config from the build.gradle in the meantime.

[2017-04-27 15:18] pizzapants commented on #27
@Maxr1998 by the time I got to look it up, I didnt see anything in my logcat about it and I couldnt get it to repeat the issue. Seems to work ok now, Ill keep you posted.

[2017-05-01 19:21] Maxr1998 commented on #26
Fully fixed with 3e2e80e2684c89418fc1b9396f9a0f6c6867d661.

[2017-05-05 14:36] Maxr1998 commented on #27
Since it seems to work fine with the latest version, I am closing this issue now. If you happen to get into this again in the future, just leave a comment and reopen ☺️

[2017-05-05 15:39] micw commented on #13
Thank you for reply. I have no running installation yet (I'm still on openhab2, ongoing migration to hass). I try to get one running this weekend.

[2017-05-10 20:03] krt16s opened #29 "Provide pure-floss build flavor"
Recent version added non-free dependencies, e.g. play-services from `compile "com.google.android.gms:play-services-location:10.2.4"`. Please provide a build flavor that replaces or removes this.

[2017-05-10 20:09] grote commented on #29
Instead of using non-free software to provide location updates (yes the play services library is proprietary), you can use [Mapzen Lost](https://mapzen.com/blog/open-source-location-services-with-lost/). Then you don't even need a different flavor.

Please do not include more proprietary libraries in the future, as they make the whole project proprietary.

[2017-05-10 20:22] Maxr1998 commented on #29
We actually discussed this issue on the home asisstant Gitter before I even implemented the location updater, and came to the conclusion to use Google Play services lib as a start because of better battery life for most users and easier implementation, and provide a completely free build flavor when we hit a generally stable version, which will be very soon now.
I will definitely take a look at th

[2017-05-23 13:21] castorinop commented on #27
in my case, the white screen appears when dont have defined groups.

[2017-05-28 22:12] #29 closed

[2017-05-29 20:53] coolbombom commented on #27
@castorinop

i have the same problem

[2017-05-30 11:46] Maxr1998 commented on #27
Good point, it should display the default groups then.

[2017-05-31 21:49] #27 closed

[2017-06-08 11:20] Charliedean commented on #13
Hi,
Please check out the following:
https://stackoverflow.com/questions/1968416/how-to-do-http-authentication-in-android
The second answer seems the simplest implementation.

The following is how to setup basic auth on Nginx:
https://www.digitalocean.com/community/tutorials/how-to-set-up-http-authentication-with-nginx-on-ubuntu-12-10

And finally how to use nginx as a reverse proxy for home assist

[2017-06-08 11:33] Maxr1998 commented on #13
I use OkHttp, so I already know how to do it. I just need an instance for testing, but I don't want to spend a lot of time setting up nginx on my machine just for this little feature.. it would be eaiser if someone who already has their own nginx instance running with hass allowed me to test on it..

[2017-06-08 12:42] micw commented on #13
@Maxr1998 sorry, I promised you a setup but did not find the time. I have set you up https://hademo.vpsprod2.wyraz.de/demo/ (log in with: user / password) which is a proxy to the official home assistant demo plus basic auth. Hope that helps and sorry for the delay!

[2017-06-08 12:54] Maxr1998 commented on #13
@micw thanks a lot! This is very helpful for me ☺️
It seems though the the official demo doesn't have the websocket api exposed, could you possibly set the url to `https://m-home.ddns.net` please?

[2017-06-08 13:23] micw commented on #13
Done. There are some tricks to make websockets work with nginx reverse proxy, please try if that works. I also removed the /demo/, so just use https://hademo.vpsprod2.wyraz.de/

[2017-06-08 13:29] Maxr1998 commented on #13
@micw thanks a lot! Btw, I just noticed that you seem to run the blog.fefe.de, good job! I'm not a regular reader, but I remember one post being quite helpful to me a few months ago - not sure what it was about though, maybe Arduino or ESP8266? Anyway, thanks again!

[2017-06-09 12:06] micw commented on #13
@Maxr1998 No, I'm not related with fefe's blog. But if you mention arduino, you probably meant https://blog.wyraz.de - here I blog from time to time about projects and experiences.
At the moment I'm switching completely oevr from home-grown stuff+openhab2 to home assistant - meanwhile I'm automating my garden sprinkler and water system using esp8266 modules. I hope I find the time to document ever

[2017-06-10 14:14] Maxr1998 commented on #13
@micw oh, ok. I figured because of that backup repo.. guess I was wrong then.
I might also have stumbled over your blog once, at least the name seems familiar..

[2017-06-19 21:33] Maxr1998 commented on #13
@micw I'm currently continuing testing after my holidays, but the server times out. Did you change anything in your config?

[2017-06-20 19:12] micw commented on #13
No idea why it stopped to work. I just redeployed my webserver, now it should work.

[2017-06-25 20:48] Maxr1998 commented on #13
@micw It seems to be broken again. Server returns bad gateway, but connecting to the url directly still works.. I finished the code though, only need some last testing now.

[2017-06-26 06:08] micw commented on #13
@Maxr1998 Seems that nginx caches the IP address forever so when it changes, it fails.
I restarted and added a auto-restart cron every night.

[2017-06-26 22:59] Maxr1998 commented on #13
Fixed as of b2e9e09bbb124375ac05a6046f485fc3636e10c1!

[2017-06-26 22:59] #13 closed

[2017-06-27 05:29] micw commented on #13
@Maxr1998 Great work. Looking forward to get a release to give it a try :-)
May I switch off my reverse proxy now?

[2017-06-27 14:30] Maxr1998 commented on #13
@micw Thanks! Yes, you can switch off the proxy now if you want :)
If it isn't too much of a hassle and doesn't cost you though, I'd love if you could just keep it running for occasional unit testing after related changes :relaxed:

_Gesendet von meinem Huawei Nexus 6P mit [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 17:42] w1ll1am23 opened #31 "Invalid password on current master branch"
Downloaded the release candidate version and it works, but when building from the current master branch I am not able to authenticate, I get a toast indicating my password is invalid.
Not using basic auth.
I am accessing HA remotely through an Nginx reverse proxy using lets-encrypt certs.

Also, I am not seeing a persistent notification indicating a login failure which I do see on the RC version w

[2017-06-27 18:48] Maxr1998 commented on #31
@w1ll1am23 Hi! Thanks for the report, and the offer to contribute! That would be very appreciated :)
On your issue, could you send me a logcat of the login process? I'd need to know if there's any http error or what warnings/errors my authentication process logs.

[2017-06-27 19:01] w1ll1am23 commented on #31
@Maxr1998 sure thing, https://pastebin.com/JntX9k2e

I have been looking at this since I opened it can can't figure out what is going on, but I am new to Android so that doesn't mean much.

[2017-06-27 19:30] Maxr1998 commented on #31
@w1ll1am23 Ok, nothing special visible in the logs. At least we now know that the socket connection works fine, and that there _is_ a response from the Home Assistance instace.
Could you repeat your logging again, but this time with Log.d(TAG, message.toString() added directly after https://github.com/Maxr1998/home-assistant-Android/blob/master/app/src/main/java/io/homeassistant/android/HassServic

[2017-06-27 19:41] w1ll1am23 commented on #31
Ahhh there ya go. I was wondering if those extra keys were causing the problem, but wasn't sure how they got added in.

This is from the send method
[code]

This is from the on message received.
[code]

[2017-06-27 19:44] w1ll1am23 commented on #31
I don't think it matters, but I commented out

[code]

and everything in
[code]

In the settingsActivity because that package doesn't exist...

[2017-06-27 19:45] Maxr1998 commented on #31
Ah, so that's the cause! This is actually an upstream bug of the Ason library, whose serializer also includes compiler-generated fields. Luckily, you can easily fix this (for now) by just disabling instant run in Android Studio - then it always has to do a full build, but at least these fields don't get included.

[2017-06-27 19:47] Maxr1998 commented on #31
It actually does, even two times ;) [[1](https://github.com/Maxr1998/home-assistant-Android/blob/master/app/src/gms/java/io/homeassistant/android/location/LocationUpdateReceiver.java)]

It's just not in the ´main´ source set because it's flavor-dependent.

[2017-06-27 19:50] w1ll1am23 commented on #31
Ahhh okay awesome, disabling instant run worked. Thanks for the help.

[2017-06-27 19:51] Maxr1998 commented on #31
Glad you could fix it! As I said, looking forward to any contribution, no matter how big or small :)

[2017-06-27 19:51] #31 closed

[2017-07-20 17:58] dixonl90 commented on #31
I just ran into the same issue, and have been pulling my hair out why the auth wasn't working. It might be worth putting a note in the README about the Instant Run incompatibility with Ason.

[2017-07-27 16:03] Maxr1998 commented on #31
@dixonl90 actually, a fix was merged into Ason just two days ago, and since I'm currently building from my own fork anyway until there is a new upstream release, you can use Instant run without any problems now ;)

[2017-07-27 17:27] dixonl90 commented on #31
Fab, thanks for the update. :)

[2017-08-01 08:32] DJaeger opened #32 "Usage of location and battery tracking"
How can I use the location and battery tracking of this app.
I have activated it within the app, but it doesn't appear in the known devices.
As of the source code its using device_tracker.see
But I can not find any documentation how to set it up.

I'm using hass-1.0-phone-fdroid.apk with Home Assistant
0.50.1.

[2017-08-01 08:35] DJaeger commented on #18
@pizzapants Is there an alternative to MacroDroid from F-Droid?

[2017-08-01 08:36] DJaeger commented on #18
@Maxr1998 How about quicksettings within a fixed notification?

[2017-08-01 09:09] DJaeger opened #34 "Translate button is not working"
The translate button in the settings is not working.
It seems to get the pressed state, but nothing happens.

I'm using hass-1.0-phone-fdroid.apk

[2017-08-01 09:12] Maxr1998 commented on #34
@DJaeger I believe it happens because you don't have Chrome installed. I need to tweak the fallback intent that another browser can be launched as well.

[2017-08-01 09:18] DJaeger commented on #34
I have Chromium installed, but why force a specific browser?

I also do not like to be forces to use an online service to translate.
For me its much easier to translate with a git fork.
But I think it will be overwritten while building.

[2017-08-01 09:30] DJaeger opened #35 "How about hostnames?"
In the error messages only IPs ares mentioned, but whats about hostnames?
Why not name it "address" or something like that?

[2017-08-01 10:03] Maxr1998 commented on #35
@DJaeger Good point. Hostnames are of course also possible

[2017-08-01 11:09] DJaeger commented on #34
I think that is also the reason, why opening the web gui is not working.

[2017-08-01 14:52] Maxr1998 commented on #32
You need to specify a device name for it to work - I will probably add a better tutorial soon.

[2017-08-01 14:55] Maxr1998 commented on #34
The browser gets "forced" because of my Chrome Custom tab implementation, It actually should fall back to the default browser if CCT isn't available. Will take a look soon.

[2017-08-01 14:56] DJaeger commented on #32
You mean in the app settings or do I have to add it manually to my known_devices.yml ?

Within the app settings I have specified a device name.

[2017-08-01 14:59] DJaeger commented on #34
I have looked into the CustomTab solutions by Telegram and a SoundCloud demo app and they have implemented their own CustomTabsClient

[2017-08-01 16:40] Maxr1998 commented on #34
Interesting. Maybe I also need to do that.

[2017-08-01 16:44] Maxr1998 commented on #18
I don't really like cluttering the notification bar with persistent notifications - a real quicksettings item fits a lot better for this task.

[2017-08-01 16:47] DJaeger commented on #34
I think the code could be reused almost completely.
You should only rename the methods and so on, as they are prefixed with "Telegram".

[2017-08-01 16:50] DJaeger commented on #18
But that would require one click more to open the quick settings dialog, so they are not really quick anymore, or am I wrong?

[2017-08-01 18:11] Maxr1998 commented on #32
Then it should already work :thinking:
Maybe you have to add the device_tracker component to your configuration?

[2017-08-01 18:31] DJaeger commented on #32
Which device_tracker component?
I have FritzBox and Locative already in my config.

Do I have to add
[code]
?

[2017-08-01 22:11] nielstron opened #36 "Toggle button for switches"

[2017-08-01 22:13] nielstron commented on #36
Sorry I missed to add a description:

When I add a Widget to the Homescreen (which works perfectly!) for switches it only allows on / off widgets and no "toggle state" widget. One of those would be great!

Thank you in advance

[2017-09-26 14:33] LuccoJ commented on #18
It requires two *swipes* if the quick setting is not among the first bunch which get shown directly when you make the first swipe to pull down the notification bar. If you only want to swipe once, then all you have to do is make it one of those.
Besides, Android calls them "quick settings" because it considers them to be the thing that people can access quickly, and even if it's somehow suboptimal

[2017-09-26 14:38] LuccoJ commented on #10
Aside from being a bit hidden (but then again it's relatively standard Android stuff to long-press to bring up additional option), I find it very unintuitively because you must not *release* the press, and just directly proceed to sliding... and worse, that doesn't work right away, I have to "wiggle" the bar with my finger a bit before it actually starts registering the movement.

[2017-09-26 14:52] Maxr1998 commented on #10
@LuccoJ the way I currently designed it was intentional, because I thought it'd be pretty cool to be able to change brightness with one touch and a following swipe, the extra "wiggle" was implemented that you can preview the current brightness level and don't change it by mistake - but I agree, the UX is pretty unintuitive AND hidden right now, so I will definitely change it.

[2017-09-26 16:50] LuccoJ commented on #10
One thing you could do (no idea about the difficulty of implementation, but I think I've seen similar in some other apps) is to still have long-press, but have it result in a pop-under with the brightness; then the user would see the current brightness immediately, and could either move their finger downwards into the slider and change it, or quite possibly release the touch, and change it with a

[2017-09-26 16:56] Maxr1998 commented on #10
@LuccoJ This is actually a pretty good idea, which would still allow me to keep the current touch-change-release option. Had something different in mind.. thanks!

[2017-09-27 06:16] marksev1 commented on #10
Is there a thread on the HASS forum about this? Where we could see screenshots, of the phone and wear UI?

[2017-09-28 08:07] Maxr1998 commented on #10
@marksev1 actually, I didn't think of that yet. Will create one when I have time today or tomorrow.

[2017-10-05 06:32] e-alfred opened #37 "Using self signed certificate only shows "Connection errror: Invalid IP, or is the server offline?""
Hello,

I set up a self signed certificate as shown here:

https://home-assistant.io/docs/ecosystem/certificates/tls_self_signed_certificate/

Connecting to my Homeassistant instance only leads to this error after clicking "connect" on the login page. I set a password too. The web ui works flawlessly. I installed 1.0 from F-Droid on a BQ X5 Plus running Android 7.1.1. Home Assistant is on version

[2017-10-05 07:41] Maxr1998 commented on #37
Could you capture a logcat for me that I can see the exact error message?
Thanks!

[2017-10-08 18:07] PatrykKot commented on #37
I think I have the same problem. Got SSLHandshakeException when using self-signed certificate generated with linked resources.

[2017-10-09 07:49] Maxr1998 commented on #37
@PatrykKot could you send me the whole logcat?

[2017-10-09 20:43] PatrykKot commented on #37
I have imported project to Android Studio. When I want to connect to HASS with self-signed certificate I only getthis in console:

`E/HassService: SSLHandshakeException while connecting to Socket, going to try again - Code null`

[2017-10-09 21:00] Maxr1998 commented on #37
@PatrykKot Ok, thanks. Probably the OkHttp doesn't allow self signed certificates by default. I will take a look at ir

[2017-10-10 22:49] e-alfred commented on #37
I get this from a logcat output:
[code]

[2017-10-27 03:39] balloob opened #38 "Better indicate that this app is unofficial"
Let me start with that I appreciate the work you have done on this app. However, it is not clear enough from the [README](https://github.com/Maxr1998/home-assistant-Android/blob/master/README.md) or [F-Droid listing](https://f-droid.org/packages/io.homeassistant.android/) that this is an unofficial app. Please:

- [ ] Don't use the Home Assistant logo for your app
- [x] Don't use the Home Assistan

[2017-10-27 11:10] Maxr1998 commented on #38
@balloob Yep, I already thought about some changes to make clear that this is an unofficial app some days ago, however, I was pretty busy in the last few weeks (moved, started studying at University, etc). I'll try to implement the suggested changes as soon as possible.

[2017-11-01 15:48] orx57 commented on #32
Hello,

Please can you clarify which platform to configure for the device tracker component?

Thanks!

[2017-11-23 00:25] Maxr1998 opened #39 "Find a better name"
In accordance to #38, we need a new name for this app. Possible variations:
- HassClient
- Hass Client
- HassDroid
- Client for Home Assistant _(too long?)_
- HassControl
- Control for Home Assistant _(also too long?)_
- _other ideas?_

Also, the name needs to indicate the independence from the Home Assistant project and should have their approval.

(cc @balloob)

[2017-11-23 00:35] Maxr1998 commented on #38
Started to work on the app again today, hope I'll find more time in the next few weeks. Searching a new name for the app now, then I'll also change the logo.
I can't do anything about the F-Droid listing though, I didn't create it actually, don't know how I can edit it.
Hopefully it will get updated after I change my README.

[2017-11-23 19:07] balloob commented on #39
All above names have my approval 👍  Anything that is either "Home Assistant" or "Home Assistant X" is not ok. "X for Home Assistant" is fine.

[2017-11-23 19:12] Maxr1998 commented on #39
@balloob thanks! Which one would you prefer personally?

[2017-12-03 10:39] renekliment commented on #39
I like HassDroid.

[2017-12-03 12:40] Maxr1998 commented on #39
@renekliment I kinda think the same, HassDroid makes it clear that it's specific to Android.

[2017-12-03 12:45] #39 closed

[2018-01-17 14:14] HeaDBanGer84 commented on #10
1. First thank you for the graet app!
2. I also only dicovered the brigthness control through reading this issue.
3. Can you implement something similar to the brightness for assigning temperature to thermostats?

[2018-01-19 08:31] HeaDBanGer84 commented on #38
Isnt it better to call it frontend instead of client? Its more the language used in home assistant config.

[2018-01-28 22:28] jackwilsdon opened #41 "Nested groups not supported"
Here's my layout of groups;

[code]

And what it looks like in HassDroid;

![HassDroid](https://user-images.githubusercontent.com/1843197/35488019-6c2b718e-047a-11e8-8fc2-5c2162d228ac.png)

And the normal HASS frontend;

![HASS](https://user-images.githubusercontent.com/1843197/35488027-88a28da2-047a-11e8-90dd-01e168787ad8.png)

I guess HassDroid just doesn't support nested groups?

[2018-01-28 22:30] Maxr1998 commented on #41
@jackwilsdon Ugh, that looks terrible. Sorry for the issues, I never really thought about that possibility. Gonna try to fix when I get around working on it again.

[2018-01-28 22:35] jackwilsdon commented on #41
No worries! I'm just glad there's an open source Android app out there for HASS! Thank you for the support 😁

[2018-01-31 00:21] Maxr1998 commented on #41
Could you maybe compile yourself a build and test my last changes? 😁
Hope I fixed the issue, didn't really test it before..

[2018-02-07 00:03] #37 closed

[2018-02-07 00:06] Maxr1998 commented on #37
Fixed now in master. Sorry this took so long..

[2018-02-07 00:07] Maxr1998 commented on #38
Client sounds more naturally, imo, so I think we should just keep that. Also, "client" more properly separates it from the actual Home Assistant `frontend` component.

[2018-02-08 11:20] HeaDBanGer84 commented on #38
Fine, good reasons to keep the name. Some rough sketch for a logo:
![hassdroid_logo svg](https://user-images.githubusercontent.com/11348045/35970342-55cad4e0-0cca-11e8-8634-00a8810bfee8.png)
far away from finished but you can imagine how it should look like. Perhaps somebody more artistic can do finish it.

[2018-03-19 19:55] Maxr1998 commented on #38
Looking good! Thanks for the contribution. Planning something very similar to this.

[2018-03-22 07:17] HeaDBanGer84 commented on #38
Thx that you like it. Have send you the .svg so that you can change it to your preferences.

[2018-03-22 07:30] Maxr1998 commented on #38
Just received it, thanks a lot! Will tweak it to my needs & convert it to Android's drawable format very soon!

[2018-03-26 20:57] ghost opened #42 "Build new Version"
When I build myself with Android Studio the app and try to install the apk it fails with "damaged" apk, quite dont kown why.
So could you do an offical new Build with all the commits..and maybe update f-droid package as well then.

G930FXXU2DRA9
Android 7.0

[2018-09-17 17:51] little-boots opened #43 "Dark theme / Tasker integration / certificates"
I would love to see an optional dark theme and/or the ability to use user-defined themes from Home Assistant.

Also, while you can already access HA from Tasker via MQTT / web API, it's a hassle to figure out and set up.  It would be great if this app would provide a Plugin that exposes listeners for events/state changes to use in Tasker Profiles and lists services/entities to use in Tasker Tasks.

[2018-11-24 17:11] MrManor commented on #31
Hi guys. For one like me which is not a developer: Is this still a problem and is there any way to use this app as of today? I have downloaded it from F-droid recently and I am unable to login.

[2018-11-24 23:30] Maxr1998 commented on #31
Hi @MrManor, no, the problem you're having is probably not related to this issue - I suppose it's more caused by the new login system Home Assistant uses now. I didn't get around to support that yet, however, the app should still work if you enable the legacy api key - that's at least how I use it atm.

[2018-11-25 17:32] MrManor commented on #31
Ok, thanks. I'll try using legacy key.

[2019-04-09 06:06] rpatterson opened #44 "Clarify the "Home Assistant URL/IP" login field"
I have my HA instance set up with it's own domain and LetsEncrypt SSL certs that work fine in the browser.  When I put that URL in the "Home Assistant URL/IP" field on the app login screen and use the same password but all I get is `Connection failure: Invalid password!`, which isn't surprising since my username is nowhere in the "Home Assistant URL/IP".

How is one supposed to log in correctly?

[2019-04-09 15:51] Maxr1998 commented on #44
The login UI doesn't support the new username/password OAuth login yet, and since I don't really have the time to implement this, it'll stay that way for a while. However, you should be able to just use a long-term token, which you can generate in the Home Assistant settings, as password.

[2019-07-16 09:28] gnyers commented on #44
Came across the same problem: whatever I type in the login screen is incorrect.

For new users (like myself) it's not at all clear what URL and password one should enter. If changing the behaviour is too much work for now, fine, but could someone please elaborate how this long-term token can be obtained.

[2019-07-18 14:47] Maxr1998 commented on #44
Sorry for the late reply. If you open your user profile in your Home Assistant UI, you can generate a long-lived access token at the bottom of that page. Then, you just use that token as your password.

[2019-08-20 20:36] maxolasersquad commented on #44
I just tried logging in using the app with putting in a long-lived token and it failed to authenticate. I'm not sure if their login api has recently changed.

[2019-08-22 17:21] Maxr1998 commented on #44
Hm, that's weird. I don't have my Home Assistant instance available currently, I'll take a look into it soon.

[2019-09-02 16:02] SimonMellerin commented on #44
Has someone found a solution on this ?

Can't login with a fresh install of hass with a long term token :/

[2019-10-24 03:19] fedaykin commented on #44
Can confirm: long term token is to be treated as Bearer Token. Doesn't work when in password field when targetting HA v100.0+

[2019-10-24 20:43] Maxr1998 commented on #44
Interesting, I'll look into it once I find time.

[2019-12-19 15:14] r-vit commented on #44
Is this app abandoned or changed the license? The latest version in GPlay is 1.2 while here it is 1.0 and looks like there's no commits being done since forever. The login process doesn't work. Any point in keeping this app anymore?

[2019-12-19 18:41] Maxr1998 commented on #44
The App on Google Play is a completely different one (actually the official Android App from Home Assistant, which is mostly a wrapper of the web app + presence detection/location tracking).
This one (HassDroid) hasn't seen any updates in a while, mostly because I don't have the time, but also because the various changes to the Home Assistant system would make it very hard to stay up to date. Espe

[2020-02-10 16:15] #17 closed

[2020-08-07 14:10] #42 closed

[2020-08-07 14:10] #38 closed

[2020-08-07 14:12] #16 closed

[2020-08-07 14:15] #10 closed

[2020-08-07 14:15] #18 closed

[2020-08-07 14:15] #32 closed

[2020-08-07 14:15] #34 closed

[2020-08-07 14:15] #35 closed

[2020-08-07 14:15] #36 closed

[2020-08-07 14:15] #43 closed

[2020-08-07 14:15] #44 closed